@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-white);
    color: var(--color-black);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
}
header img{
    height: 6vw;
}

main{
    padding: 20vw 3vw 9vw 5vw;
}
main h1{
    font-family: "Inter-SemiBold";
    font-size: 8vw;
}
main h1 span{
    color: var(--color-purple);
}

form{
    display: flex;  
    padding: 5vw;
    gap: 2vw;   
    align-items: center;
    justify-content: space-around;
    height: 10vh; 
}
textarea{
    border: none;  
    width: 100%;
    min-height: 7vw;
    font-family: "Inter-Regular";  
    padding: 1vw;  
    resize: none;  
    outline: none;  
}  
textarea::placeholder {  
    font-family: "Inter-Regular";  
    font-size: 6vw;   
    color: var(--color-black);
}
form img{
    margin: 2vw;  
    cursor: pointer;  
    height: 5vh;
    width: 7vw;
}

.filters {  
    display: flex;
    overflow-x: auto;
    padding: 3vw;
    gap: 3vw;
}
.filters::-webkit-scrollbar{
    display: none;
}  
.filters div{
    flex: 0 0 auto;
    width: auto;
    padding: 2vw;
    font-family: "Inter-Regular";
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.7vw;
}
.one{
    background: var(--color-ligth-purple);
}
.two{
    background: var(--color-light-yellow);
}
.three{
    background: var(--color-peach);
}
.four{
    background: var(--color-mint);
}