:root{
    --background-color: linear-gradient(to bottom right, #91B5FD 0%, #F0DDFF 100%);
    --transparent: rgba(255, 255, 255, 0.2); 
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../storage/fonts/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url(../storage/fonts/Inter_18pt-SemiBold.ttf);
}