:root {  
    --color-blue: #0092FC; /* Blue Read More */
    --color-white: #FFFFFF; /* White Background */
    --color-black: #000000; /* Black Text */
    --color-purple: #761CBC; /*Purple Title */
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../storage/fonts/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url(../storage/fonts/Inter_18pt-SemiBold.ttf);
}