<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="storage/img/icon.ico" type="image/ico">
    <title>Title</title>
    
    <link rel="stylesheet" href="../css/styleDetails.css">
</head>

<body>
    
            <!--- Nav --->

    <nav>
        <a href="#"><img src="storage/img/back.svg"></a>
    </nav>
    
            <!--- Header --->

    <header>
        <img src="storage/img/coldplay.png">
    </header>
    
            <!--- Main --->

    <main>
        <h1>Coldplay <span>: Music of the Spheres</span></h1>
        <div class="location">
            <img src="storage/img/location.svg">
            <p>Gelora Bung Karno Stadium, Jakarta</p>
        </div>
        <div class="date">
            <img src="storage/img/date.svg">
            <p>November 15 2023</p>
        </div>
        <div class="participants">
            <div class="participants__icons">
                <img src="storage/img/user-lorem-1.png">
                <img src="storage/img/user-lorem-2.png">
                <img src="storage/img/user-lorem-3.png">
            </div>
            <p>50K+ Participants</p>
        <div>
    </main>
    
            <!--- Description --->

    <section class= "description">
        <h2>Description</h2>
        <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in 
            elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis 
            enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. 
            Interdum et malesuada fames ac ante ipsum primis in faucibs. 
            Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet.<br>
            <span>Read More…</span></p>
    </section>
    
            <!--- Location --->

    <section class= "location">
        <h2>Venue & Location</h2>
        <img src="storage/img/map.png">
    </section>
    
            <!--- Footer --->

    <footer>
        <div class="left">
            <p>Start from<br><strong>IDR1.100.000</strong></p>
        </div>
        <div class="right">
            <button>
            <a href="#">Buy Ticket</a>
            </button>
        </div>
    </footer>

</body>
</html>